package ${package}.vo;

import java.io.Serializable;
import java.util.Date;

import org.hibernate.validator.constraints.Length;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end


/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@ApiModel(value = "${className}SaveVo", description = "${comments}")
public class ${className}SaveVo implements Serializable {
    private static final long serialVersionUID = 1L;
    
#foreach ($column in $columns)
    #if($column.attrname=='id' || $column.attrname=='creator' || $column.attrname=='createTime' 
	     || $column.attrname=='modifier' || $column.attrname=='modifyTime')
    #else
    
	/**
	 * $column.comments
	 */
#if($column.attrType == 'String' && $column.charLength > 0)
    @Length(max=$column.charLength, message="长度不能超过$column.charLength个字符")
#end
    @ApiModelProperty(value="$column.comments", example="$column.example", notes="$column.comments")
	private $column.attrType $column.attrname;
	#end
#end

#foreach ($column in $columns)
    #if($column.attrname=='id' || $column.attrname=='creator' || $column.attrname=='createTime' 
	     || $column.attrname=='modifier' || $column.attrname=='modifyTime')
    #else
    
	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * 获取：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
	#end
#end
}
