package ${package}.service;

import ${package}.entity.${className}Entity;
import ${package}.vo.${className}SearchVo;
import ${package}.vo.${className}SaveVo;
import ${package}.vo.${className}UpdateVo;
import com.deepsec.notarization.modules.common.base.PageBean;
import com.deepsec.notarization.modules.common.base.entity.UserEntity;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public interface ${className}Service {

	${className}Entity queryObject(${pk.attrType} ${pk.attrname});
	
	PageBean<${className}Entity> queryList(${className}SearchVo searchVo);

	void save(UserEntity userEntity, ${className}SaveVo saveVo) throws Exception;

	void update(UserEntity userEntity, ${className}UpdateVo updateVo) throws Exception;

	void delete(${pk.attrType} ${pk.attrname});

	void logicDelete(UserEntity userEntity,${pk.attrType} ${pk.attrname});

}
