<!DOCTYPE html>
<html>
<head>
<title>基础包说明</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/font-awesome.min.css">
<link rel="stylesheet" href="plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="css/main.css">
<script src="libs/jquery.min.js"></script>
<script src="plugins/layer/layer.js"></script>
<script src="libs/bootstrap.min.js"></script>
<script src="libs/vue.min.js"></script>
<script src="plugins/jqgrid/grid.locale-cn.js"></script>
<script src="plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="js/common.js"></script>
</head>
<body>
<div id="ftrapp2basepackage">
	<div class="grid-btn" style="margin-left: 20px">
	<label style="font-weight: 20px;font-size: 20px">基础包API：</label>
		 <a href="javascript:void(0)" onclick="window.open('http://10.167.2.204:8091','_blank')" ><i class="fa fa-cog"></i><span >基础包API文档</span></a>
	</div>
	<label style="font-weight: 20px;font-size: 20px;margin-left: 20px">基础包最新版本：</label>
 <table class="table" style="margin-left: 20px">
    <thead>
    <tr>
	    <th>中文名</th>
        <th>groupId(组标识)</th>
        <th>artifactId(组件标识)</th>
		<th>version(最新版本)</th>
        <th>最后修改时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>多数据源基础包</td>
        <td>com.see</td>
        <td>see-base-many-source</td>
		<td>1.2.9.RELEASE</td>
        <td>2019年1月7日 11:02:56</td>
    </tr>
    <tr>
        <td>单数据源基础包</td>
        <td>com.see</td>
        <td>see-base-single-source</td>
        <td>1.2.6.RELEASE</td>
		<td>2019年1月7日 11:02:56</td>
    </tr>   
	<tr>
		<td>事务协调器客户端</td>
		<td>com.see</td>
		<td>see-tx-client</td>
		<td>4.1.0</td>
        <td>2019年1月7日 11:02:56</td>
    </tr>  
    </tbody>
</table> 
 
</div>


</body>
</html>